<%= link_to garden_path(garden) do %>
  <div class="card-garden">
    <%= image_tag garden.banner_url %>
    <div class="card-garden-infos">
      <div>
        <h2><%= garden.name %></h2>
      </div>
    </div>
  </div>
<% end %>


